html, body {
    padding: 0;
    font-size: 16px;
    width: 96%;
    min-width: 300px;
    margin: 0 auto;
}

body > * {
    box-sizing: border-box;
}

h2 {
    border-bottom: 3px solid lightgray;
    font-family: Arial, monospace;
}

p{
    margin: 5px 0;
}

header {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

header .Iam {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30%;
}

header .profi {
    color: darkslategrey;
}

header .myPhoto {
    display: inline-block;
    width: 35%;
    min-width: 150px;
    margin-right: 5%;
}

header .myName {
    display: inline-block;
    width: 15%;
    align-self: flex-end;
}

header h1 {
    display: inline-block;
    font-size: 20px;
}

header .downloadContainer {
    width: 35%;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
}

header .download {
    width: 10%;
    min-width: 60px;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


header .download img {
    width: 50%;
}

header .download div {
    font-weight: 700;
    text-align: center;
    width: 100%;
    font-size: 10px;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.infoContainer p {
    text-indent: 1.5em;
    text-align: justify;
}

aside {
    font-family: sans-serif monospace;
    width: 100%;
    font-size: 16px;
}

main {
    font-family: sans-serif monospace;
    width: 100%;
    font-size: 16px;
}



.subItem {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.contactItem {
    font-family: monospace;
    height: 30px;
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}

.contactItem div {
    font-size: 16px;

}

.contactItem img {
    height: 100%;
    display: inline-block;
    margin-right: 25px;
}

.exp li{
    margin: 10px 0;
    text-align: justify;
}
ul{
    /*text-indent: 1.5em;*/
}



h3 {
    padding: 0;
    margin: 0;
}

.proSkillsBlock div {
    font-size: 16px
}

data {
    color: dimgrey;
}

footer {

}



@media (min-width: 768px) {
    body {
        width: 90%;
        padding: 0 2% 30px 2%;
    }

    header {
        width: 100%;
    }

    header .myName {
        display: inline-block;
        align-self: center;
    }

    header .myPhoto {
        min-width: 220px;
    }

    header h1 {
        font-size: 30px;
    }

    header .download img {
        width: 100%;
    }

    header .download div{
        font-size: 16px;
    }

    .infoContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    aside {

        font-family: monospace;
        width: 47%;
        font-size: 16px;
    }

    main {
        font-family: monospace;
        width: 47%;
        font-size: 16px;
    }

}